
    .App-title {
      font-size: 1.5em;
    }
    
    .App-intro {
      font-size: large;
    }
    .container {
      display: grid;
      height: 100%;
     grid-template-columns: 1fr;
     grid-template-areas:    "h"
                             "b"
                             "b"
                             "b"
                             "b"
                             "b"
                             "f";
     grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      overflow: hidden;
      box-sizing: border-box;
    background-color: #eaffff;
    height: 100vh;
    width: 100vw;
    overflow: hidden !important;
    letter-spacing: -1px;    
    }
    .container-header{
      font-size: 20px;
      display: grid;
      grid-area: h;
    }
    .item-container{
      grid-area: b;
      display: grid;
      width: 100%;
      grid-column-gap: 10px;
      grid-row-gap: 20px;
      padding: 20px;
      overflow: scroll;
      justify-content: space-around;
      grid-template-rows: repeat(5,14%);
      grid-template-columns: repeat(auto-fit,minmax(40vw,1fr));
    }
    
    .name {
      grid-area: name;
    }
    .id {
      grid-area: id;
    }
    .userid {
      grid-area: userid;
    }
    .date {
      grid-area: date;
    }
    .button {
      grid-area: button;
    }
    .footer{
      display: grid;
      grid-area: f;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto 1fr;
    }
    .footerContent{
      grid-row: 3;
      grid-column: 1/-1;
      text-align: center;
      font-size: 30px;
    }
    .pagination{
      grid-column: 1/-1;
      font-size: 10px;
      grid-row: 3;
      padding: 2%;
      display: grid;
      grid-gap: 1%;
      justify-content: center;
     grid-template-columns: repeat(8,7%); 
    }
    .blue{
      background-color: rgb(151, 213, 220);
      transition: all 1s;
    }
 
    .pagination button{
      cursor: pointer;
      height: 100%;
      display: grid;
      color:black;
      grid-row: 2/3;
      text-decoration: none !important;
      background-color: #eaffea;
      box-shadow: 0px 2px 2px black;
      border-radius:5px;
      font-size: 20px;
    }
    .pagination button:hover{
      background-color: aquamarine;
    }
    .item{
      display: grid;
      height: 100%;
      padding: 1%;
      font-family: sans-serif;
      font-weight: 900;
      color:black;
      grid-gap: 4px;
      background-color: #eaffea;
      grid-template-areas:
            "date  userid  button"
            "date   userid    button";
            grid-template-columns: auto 1fr auto;
            grid-template-rows: 1fr 1fr;
      border-radius: 5%;
      box-sizing: border-box;
      font-size: 1em;
    }
    .all{
      color:black;
      display: grid;
      overflow: hidden;
    justify-content: space-between;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-auto-rows: 1fr;
    width: 100%;
    height: 100%;
    }
    .all div{
      display: inline-block;
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis; 
    }
    .all a{
      display: inline;
      width: auto;
      overflow: hidden;
      text-align: right;
    }
    .item p {
      margin: 0 0 0 0;
      padding: 0;
      text-align: left;
      font-size: 1em;
    }
    .item span {
      margin: 0 0 0 0;
      padding:0;
      text-align: left;
      max-width: 100%;
      font-size: 1em;
    }
    .item button {
      font-size: 1em;
      border-radius: 10%;
      margin: 5px;
      background-color: #eaffff;
      border-color: black;
    }
  
        
/*    @media (max-width: 1200px) {
      .item-container{
      grid-area: b;
      display: grid;
      justify-content: space-around;
      grid-template-rows: repeat(5,14%);
      grid-template-columns: 40% 40%;
    }
        
    }*/
  @media (max-width: 900px) {
      .item-container{
      grid-area: b;
      display: grid;
      justify-content: space-around;
      grid-template-rows: repeat(10,1fr);
      grid-template-columns: 1fr;
    }
    .pagination{
      grid-row: 2/ span 2;
     grid-template-columns: repeat(8,9%); 
    }
  }
  @media (max-width: 600px) {
      .item{
      
      grid-template-areas:
            "userid"
            "date"
            "button";
            grid-template-columns: 90%;
            grid-template-rows: 1fr 1fr 1fr;
            justify-content: space-between;
    }
    .pagination{
     grid-template-columns: repeat(8,1fr); 
    }
  }